$ltgray: #ddd;
$background-dark: #512DA8;

.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}

 
.text-floral-white {
 color: $ltgray;
}

.background-primary {
    background-color: $background-dark;
  }
 
    
  