$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: #4527A0;

.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}

.background-primary {
    background-color: $background-dark!important;
  }
  
  .text-floral-white {
      color: $lt-gray!important;
    }
    
  