@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  
}

.container {
  margin: 20px;
  display:flex;
}

// .background-primary {
//   background-color: $background-dark!important;
// }

// .background-accent {
//   background-color: $accent-color!important;
// }

.flex-spacer {
  flex: 1 1 auto
}